{% extends 'main/layout.html' %}

{% block title %} Main pages{% endblock %}

{% block content %}
<div class="features">
    <h1> Main page</h1>
    <p> The comment tag is used to insert comments in the source code. Comments are not displayed in the browsers. You can use comments to explain your code, which can help you when you edit the source code at a later date. This is especially useful if you have a lot of code. </p>
    <button class="btn btn-warning">On page about us </button>   <!-- class for style az booststrap -->

</div>


{% endblock %}

